<header class="header container">
    <nav class="header__nav">
        <a class="header__brand" href="/">DK</a>
        <div class="header__nav-wrapper">
            <ul class="header__nav-list">
            <button class="header__nav-button--close"><i class="fa-sharp fa-solid fa-xmark"></i></button>
            <li class="header__nav-item">
                <a class="header__nav-link" href="/">Home</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="/about">About</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="/projects">Projects</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="/contact">Hire me</a>
            </li>
        </ul>
        </div>
        <button class="header__nav-button--open">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </button>
    </nav>
</header>