<section class="profile">
  <div class="container">
    <h1 class="profile__title">Frontend Developer Jr.</h1>
  <div class="profile__wrapper">
    <img class="profile__image" src="/images/IMG_6948.JPG" alt="Denis Kirshenin, Frontend Developer" width="400" height="500">
    <article class="profile__card">
      <p class="profile__text">Hi! I'm <span class="profile__text--highlight">Denis</span>, a cyclist and Developer who knows if you worked hard going uphill you will have hella fun going downhill.</p>
      <p class="profile__text">As a <span class="profile__text--highlight">Frontend Developer</span> I love to match&mix technologies to make a perfect blend.</p>
      <p class="profile__text">Let's roll & <a class="profile__link" href="/contact">blend together.</a></p>
    </article>
  </div>
  </div>
</section>