---
layout: "base.njk"
---

<div class="project">
  <div class="container">
    
    <a class="project__back-button" href="/"><i class="fa-sharp fa-solid fa-arrow-left"></i><span>Back</span></a>
    <h2 class="project__heading">{{ title }}</h2>
    <div class="project__image-wrapper">
        <img class="project__image" src="{{ image }}" alt="{{ imageAlt }}">
    </div>
    <div class="project__content prose">
      {{ content | safe }}
    </div>
  </div>
</div>