<section class="technologies">
  <div class="container">
    <h2 class="technologies__title">My weapon of choice</h2>
  <ul class="technologies__list">
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/javascript.svg" alt="JavaScript logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/react.svg" alt="React.js logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/css.svg" alt="CSS logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/html.svg" alt="Firebase logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/sass.svg" alt="Firebase logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/less.svg" alt="Firebase logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/netlify.svg" alt="Firebase logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/styled-components.svg" alt="Firebase logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/git.svg" alt="Firebase logo" width="50" height="50">
    </li>
    <li class="technologies__item">
      <img class="technologies__logo" src="/images/gulp.svg" alt="Firebase logo" width="50" height="50">
    </li>
  </ul>
  </div>
</section>