.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #fff;
    padding: 25px 100px;
    background: #152617;
}