.header {
  background-color: #fff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__brand {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #152617;
  padding: 24px 30px;
}
@media only screen and (min-width: 768px) {
  .header__brand {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 30px 10px;
  }
}
.header__brand:hover, .header__brand:focus-within {
  background-color: #152617;
  color: #fff;
}
.header__brand:active {
  background-color: #87F962;
  color: #000;
}

.header__nav-list {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 576px) {
  .header__nav-list {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .header__nav-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    padding: 0;
  }
}

.header__nav-wrapper--opened {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #c8cdc8;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.header__nav-list--opened {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #152617;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.header__nav-button--open {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #152617;
  background-color: transparent;
  border: none;
  padding: 14px 35px;
}
@media only screen and (min-width: 768px) {
  .header__nav-button--open {
    display: none;
  }
}

.header__nav-button--close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 50px;
  line-height: 40px;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 24px 35px;
}
@media only screen and (min-width: 768px) {
  .header__nav-button--close {
    display: none;
  }
}

.header__nav-item {
  list-style: none;
  padding: 50px;
}
@media only screen and (min-width: 768px) {
  .header__nav-item {
    padding: 30px 10px;
  }
}
.header__nav-item:hover, .header__nav-item:focus-within {
  background-color: #152617;
}
.header__nav-item:hover .header__nav-link, .header__nav-item:focus-within .header__nav-link {
  color: #fff;
}
.header__nav-item:active {
  background-color: #87F962;
}
.header__nav-item:active .header__nav-link {
  color: #000;
}

@media only screen and (min-width: 768px) {
  .header__nav-item:not(:last-child) {
    margin-right: 15px;
  }
}

.header__nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .header__nav-link {
    color: #152617;
  }
}

.container {
  display: grid;
  margin: 0 auto;
}
@media only screen and (max-width: 576px) {
  .container {
    width: auto;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #152617;
  color: #fff;
  padding: 0 0 20px 0;
}

.profile__title {
  position: absolute;
  top: 250px;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 43px;
  text-align: left;
  margin: 0;
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .profile__title {
    position: static;
    padding: 40px 0;
  }
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .profile__wrapper {
    flex-direction: row;
  }
}

.profile__card {
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.035em;
}

.profile__text {
  padding: 20px 40px;
  margin: 0;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .profile__text {
    padding: 10px 0 10px 20px;
  }
}

.profile__text--highlight {
  font-weight: 900;
}

.profile__image {
  display: block;
  object-fit: contain;
  width: 100%;
  filter: grayscale(1);
}
@media only screen and (min-width: 768px) {
  .profile__image {
    object-fit: contain;
  }
}

.profile__link {
  text-decoration: underline;
  color: #B8F5A5;
}
.profile__link:hover, .profile__link:focus-within {
  color: #87F962;
}
.profile__link:active {
  color: #8EA589;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #152617;
  background-color: #fff;
  padding: 20px;
}

.technologies__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 43px;
  text-align: left;
  align-self: flex-start;
  margin: 0;
  padding: 20px 0;
}

.technologies__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  overflow-x: auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .technologies__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.technologies__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  margin: 20px;
}

.technologies__logo {
  display: flex;
  width: 100%;
}

.technologies__item-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.035em;
  margin: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #152617;
  color: #fff;
  padding: 20px;
}

.projects__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 43px;
  text-align: left;
  margin: 0;
  padding: 20px 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 40px 0;
}
@media only screen and (min-width: 576px) {
  .project-card {
    margin: 0;
  }
}

.project-card__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 12px;
}

.project-card__tag {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #fff;
  padding: 10px;
  margin: 8px;
  background-color: #50664b;
}

.project-card__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-align: left;
  padding: 20px;
  margin: 0;
}
@media only screen and (min-width: 1140px) {
  .project-card__title {
    box-sizing: border-box;
    min-height: 96px;
  }
}

.project-card__title a {
  color: #fff;
  text-decoration: none;
}
.project-card__title a:hover, .project-card__title a:focus-within {
  color: #87F962;
}
.project-card__title a:active {
  color: #B8F5A5;
}

.project-card__summary {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #fff;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}
@media only screen and (min-width: 1140px) {
  .project-card__summary {
    min-height: 180px;
  }
}

.project-card__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #E3E4E6;
  border: 1px solid rgba(227, 228, 230, 0.55);
  border-radius: 100px;
  padding: 8px 16px;
  margin: 0 20px;
}
.project-card__link:hover, .project-card__link:focus-within {
  color: #87F962;
  border: 1px solid #87F962;
}
.project-card__link:active {
  color: #000;
  border: 1px solid #000;
  background-color: #B8F5A5;
}

.contact {
  display: flex;
  flex-direction: column;
  color: #152617;
  background-color: #fff;
  padding: 20px;
}

.contact__heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 47px;
  text-align: left;
  color: #152617;
  padding: 20px 0;
  margin: 0;
}

.contact__sub-heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-align: left;
  color: #152617;
  margin: 0;
  padding: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__section {
  display: flex;
  flex-direction: column;
}
.form__section:hover .form__input, .form__section:focus-within .form__input {
  border: 1px solid #87F962;
}

.form__label {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #152617;
}

.form__input {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 4px 0 16px 0;
  padding: 12px 16px;
  border: 1px solid #8EA589;
  border-radius: 4px;
}

.form__button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #152617;
  background-color: transparent;
  border: 1px solid #152617;
  border-radius: 100px;
  padding: 8px 16px;
  margin: 0 20px;
}
.form__button:hover, .form__button:focus-within {
  background-color: #87F962;
  color: #152617;
  border: 1px solid #87F962;
}
.form__button:active {
  color: #152617;
  border: 1px solid #B8F5A5;
  background-color: #B8F5A5;
}

.contact__links {
  display: flex;
  margin: 0;
  padding: 20px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.contact__links-item {
  font-size: 30px;
  line-height: 40px;
  padding: 15px;
}

.contact__links-item a {
  color: #8EA589;
}
.contact__links-item a:hover, .contact__links-item a:focus-within {
  color: #87F962;
}
.contact__links-item a:active {
  color: #B8F5A5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #fff;
  padding: 25px 100px;
  background: #152617;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 47px;
  text-align: left;
  color: #152617;
  margin: 0;
  padding: 20px 0;
}

.about__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-align: left;
  color: #152617;
  margin: 0;
  padding: 20px 0;
}

.project-grid {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 576px) {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media only screen and (min-width: 1140px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.project {
  display: flex;
  flex-direction: column;
  background: #152617;
  padding-bottom: 30px;
  height: auto;
}

.project__back-button {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  color: #E3E4E6;
  padding: 20px;
  margin: 0;
  text-decoration: none;
}
.project__back-button:hover, .project__back-button:focus {
  color: #87F962;
}
.project__back-button:active {
  color: #B8F5A5;
}

.project__back-button span {
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .project__image {
    display: block;
    height: 100%;
    margin: 0 auto;
  }
}

.project__heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 43px;
  text-align: left;
  color: #E3E4E6;
  padding: 20px;
  margin: 0;
}

.project__content h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 35px;
  text-align: left;
  color: #E3E4E6;
  padding: 20px;
  margin: 0;
}

.project__content p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  color: #E3E4E6;
  padding: 0 20px;
  margin: 0;
}

.project__content ul {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  color: #E3E4E6;
  list-style-type: decimal;
}

/*# sourceMappingURL=style.css.map */
