@import "../breakpoints/breakpoints";

.container {
    display: grid;
    margin: 0 auto;

    @include xs {
        width: auto;
    }
    
    @include sm {
        width: 540px;
    }

    @include md {
        width: 720px;
    }

    @include lg {
        width: 960px;
    }

    @include xl {
        width: 1140px;
    }
}