---
title: "DK Portfolio"
layout: "base.njk"
---

<section class="contact">
  <h2 class="contact__heading heading--main text-center">Want to get in touch?</h2>
  <p class="contact__sub-heading text-center">I'm always open to new opportunities and projects. </p>

  <form class="form" name="contact" action="/success" method="POST" data-netlify="true">
    <div class="form__section">
      <label class="form__label" for="yourName">Name</label>
      <input class="form__input" name="name" type="text" id="yourName" placeholder="Hi! My name is What? My name is Who?" required="true">
    </div>
    <div class="form__section">
      <label class="form__label" for="yourEmail">Email</label>
      <input class="form__input" name="email" type="email"  id="yourEmail" placeholder="MynameIsChikaChika@slim.shady" required="true">
    </div>
    <div class="form__section">
      <label class="form__label" for="message">Message</label>
      <textarea class="form__input" name="message" id="message" rows="4" placeholder="“I want to thank me for believing in me, I want to thank me for doing all this hard work. I wanna thank me for having no days off. I wanna thank me for never quitting. I wanna thank me for always being a giver and trying to give more than I receive. I wanna thank me for trying to do more right than wrong. I wanna thank me for being me at all times, Snoop Dogg you a bad motherf**ker.”" required="true"></textarea>
    </div>
      <button class="form__button" type="submit">Let's talk</button>
  </form>
  <ul class="contact__links">
    <li class="contact__links-item"><a href="https://www.linkedin.com/in/deniskirshenin/"><i class="fa-brands fa-linkedin"></i></a></li>
    <li class="contact__links-item"><a href="https://github.com/deniskirshenin"><i class="fa-brands fa-github"></i></a></li>
    <li class="contact__links-item"><a href="mailto: deniskirshenin@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
    <li class="contact__links-item"><a href="https://t.me/fishgutter"><i class="fa-brands fa-telegram"></i></a></li>
    <li class="contact__links-item"><a href="https://www.strava.com/athletes/955187"><i class="fa-brands fa-strava"></i></a></li>
  </ul>
</section>