@import "../breakpoints/breakpoints";

.project-grid {
    display: flex;
    flex-direction: column;

    @include sm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    @include xl {
        grid-template-columns: repeat(4, 1fr);
    }
}